<div class="container-fluid">
  <div class="row">
    <div class="col bg-info text-white">
      <div class="navbar-brand">Vehicle Information Portal</div>
    </div>
  </div>
</div>
<div class="col-3 fixed-bottom mb-1">
  <a class="btn btn-block btn-secondary" routerLink="/admin" routerLinkActive="active">Administration</a>
</div>
<div class="row no-gutters">
  <div class="col-3">
    <portal-categoryfilter></portal-categoryfilter>
  </div>
  <div class="col">
    <portal-vehicle-list></portal-vehicle-list>
  </div>
</div>
